.btn-regular {
    background-color: #8CA1A5 !important;
}
.btn-regular:hover {
    background-color: #6D8299 !important;
}
.font-weight-500 {
    font-weight: 550 !important;
}
.cart-text-color {
    color: rgba(255, 255, 255, 0.877);
}